<div class="tipo-pix">
    <div class="logo-content">
        <img class="img-arrow" src="assets/icons/left-arrow.svg" (click)="navegar('contatos')">

        <img class="img-gear" src="assets/icons/gear.svg">
        <span>
            <img src="assets/icons/pix.svg">
        </span>
    </div>
    <div class="content-white">
        <h4>
            Escolha a chave para identificar quem irá receber
        </h4>

        <button>CPF ou CNPJ<span> > </span></button>
        <button> Celular <span> > </span></button>
        <button>E-mail<span> > </span></button>
        <button>Agência e conta <span> > </span></button>
        <button>Pix copiar e colar <span> > </span></button>
        <button>Chave aleatória<span> > </span></button>
    </div>
</div>