<div class="pix-contatos">
    <div class="logo-content">
        <img class="img-arrow" src="assets/icons/left-arrow.svg" (click)="navegar('pix')">

        <img class="img-gear" src="assets/icons/gear.svg">

        <h1 class="logo-text"> Banco xpto </h1>
        <span>
            <img class="img" src="assets/icons/pix.svg">
        </span>
    </div>

    <div class="content-white">
        <h3>PIX</h3>

        <Button class="btn-novo-contatos mb-3" (click)="navegar('tipo')"> Pagar para novo contato</Button>
    
        <p class="title">Seus Contatos:</p>
        <!-- <input type="text mb-3" placeholder="buscar contatos"> -->


        <ng-container *ngFor="let contatos of saldo?.cpfJaEnviado">
            <div class="btn-contatos mt-2" (click)="contatos()">
                <div class="nome-tres-pontos">
                    <p class="p">Andre da silva</p>
                </div>
                <p class="p">BCO XPTO - CPF: 000.000.000-00</p>
            </div>
        </ng-container>
    </div> 
</div>